<div class="mt-4">
    <div class="d-flex justify-content-between mb-4">
        <h2>Shopping List</h2>
    </div>

    <table class="table table-stripped">
        <thead class="thead">
            <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            </tr>
        </thead>
        <tbody>
            <% @shooping_list.each do |food| %>
            <tr>
                <td><%= food.name %></td>
                <td><%= food.quantity %></td>
                <td><%= food.price %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
